.about-header {
  text-align: center;
  font-size: 32px !important;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 500;
}
.about-line-header {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 24px !important;
  line-height: 1.5;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.about-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  max-width: 800px;
  margin: 0 auto;
}
