.kegiatan-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.kegiatan-title-box a {
  text-decoration: none;
  color: #000;
  margin: 0;
}

/* hover */
.kegiatan-title-box a:hover {
  color: #007bff;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header-box h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.kegiatan-icon {
  font-size: 50px;
}

.kegiatan-box {
  position: relative;
}

.kegiatan-box img {
  display: block;
  transition: filter 0.3s ease;
}

.kegiatan-box button {
  display: none;
  position: absolute;
  top: 70%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.kegiatan-box:hover img {
  filter: brightness(50%);
}

.kegiatan-box:hover button {
  display: block;
}

.button-kegiatan {
  background-color: #15547e;
  width: 50%;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
